#app{font-family:Avenir,Helvetica,Arial,sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;color:#2c3e50;margin-top:60px}.panel{margin-top:2em}span{color:red}
/*# sourceMappingURL=app.b5c9ee57e6cac5ed9ff36ce4e117c0c8.css.map */